@use '../../styles/vars' as *;

.skeleton {
  // background-color: rgba($slate-gray, 0.12);
  position: relative;
  overflow: hidden;

  // Эффект бегущего блика (Shimmer)
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba($white, 0) 0%,
      rgba($white, 0.4) 20%,
      rgba($white, 0.6) 60%,
      rgba($white, 0) 100%
    );
    animation: shimmer 1.6s infinite;
    content: '';
  }

  // Типы геометрии скелетона
  &.rect {
    // border-radius: $borderRadiusMedium; // Наш стандарт 8px
  }

  &.text {
    border-radius: 4px;
    height: 14px;
    margin-bottom: 8px;
    width: 100%;

    &:last-child {
      width: 70%; // Последняя строчка текста покороче для реализма
    }
  }

  &.circle {
    border-radius: 50%; // Для будущих аватарок тренеров или иконок
  }
}

// ==========================================
// АНИМАЦИИ
// ==========================================

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.3);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.5;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
