@use '../../styles/vars' as *;
@use '../../styles/mixins' as *;
@use '../../../node_modules/include-media/dist/_include-media.scss' as *;

.createdAt {
  font-size: 12px;
  margin-bottom: 10px;
  color: #929292;
}

.author {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}

.dialogue {
  padding: 20px;
}
