PORT=3000
DATABASE_URL=postgresql://studlink:studlink@localhost:5432/studlink?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
TELEGRAM_BOT_TOKEN=7833306115:AAGCPRSRYulK6vfk-8aYcH4MCDtiO0aQ1gQ
ENABLE_TELEGRAM_BOT=true