PORT=3000
DATABASE_URL=postgresql://studlink:studlink@localhost:5432/studlink?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
TELEGRAM_BOT_TOKEN=7833306115:AAGCPRSRYulK6vfk-8aYcH4MCDtiO0aQ1gQ
ENABLE_TELEGRAM_BOT=true
VK_BOT_TOKEN="vk1.a.fC4CebgoEWZD9Oph5nbwU0yt6GrL5OwjI-wGPo1SFN4QW8mkYs9VE98FFtHTRbYG4R_l4s7U2XxyZuxSinvxm-xvHqmHD3yIvzcoHBesQW4Pz3Lplhnh2K0CQVEDfLrIuunE-bNLb7aeHUTqjRm5Qp0IR_Ki3N1Rckb7mJaWzknhN-7j46eYv8xQkqRkMx0Vvjkpxc0s_JynZ4po0WHYbQ"
ENABLE_VK_BOT=true
OK_BOT_TOKEN="-n-Je8NhZwfkaY1BgZWpuX7FHJTA5SCKwmXaphKHNTvtIM8vKyWaCM2vKu6K5066XkmA9aqEuWOu2PMtc9TA0:CBLOMINGDIHBABABA"
ENABLE_OK_BOT=true