$white: #ffffff;
$black: #000000;
$red: #ff0000;
$blue: #0000ff;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTestColor: $black;
$defaultLineHeight: 1.2;